[Unit]
Description=Run diskmon hourly

[Timer]
# Run 1 minute after boot, then every 1 hour
OnBootSec=1min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
